{% extends 'base.html.twig' %}

{% block title %}Registrácia{% endblock %}

{% block body %}
    <h1 class="text-3xl font-semibold text-center">Registrácia</h1>

    <div class="bg-gray-100 p-2">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Heslo'
        }) }}

        <button type="submit" class="text-yellow-400 font-semibold">Registrácia</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
