<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <style>
            textarea {
                width: 100%;
            }
        </style>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="h-10 bg-blue-200 w-full mb-2 text-right px-3 py-2">
            {{ app.user.email ?? 'Anonym' }}
            {% if app.user %}
                <a href="{{ path('app_logout') }}" class="pl-2 font-semibold">Odhlásiť</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="px-2 font-semibold">Prihlásiť</a>|<a href="{{ path('app_register') }}" class="px-2 font-semibold">Registrovať</a>
            {% endif %}
        </div>
        <div class="lg:max-w-screen-md md:max-w-screen-sm mx-auto">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
