{{ form_start(comment_form, {'action': path('post_comment', {"id": post.id})}) }}
    {{ form_widget(comment_form) }}
    <button class="text-yellow-500">{{ button_label|default('Pridať') }}</button>
{{ form_end(comment_form) }}
