{% if app.user and app.user.id is same as post.author.id %}
<form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="text-red-400 font-semibold text-lg">Zmazať článok</button>
</form>
{% endif %}