{% extends 'base.html.twig' %}

{% block title %}Upraviť Článok{% endblock %}

{% block body %}
    <h1 class="text-3xl font-semibold text-center">Upraviť Článok</h1>

    <div class="bg-gray-100 p-2">
        {{ include('post/_form.html.twig', {'button_label': 'Upraviť'}) }}
    </div>

    <a class="text-sm italic" href="{{ path('post_index') }}">Všetky články</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
