{% extends 'base.html.twig' %}

{% block title %}{{ title ?? 'Zoznam článkov' }}{% endblock %}

{% block body %}

    <h1 class="text-3xl font-semibold text-center">{{ title ?? 'Zoznam článkov' }}</h1>

    {% if all_url is defined and all_url %}
        <a class="text-sm" href="{{ path('post_index') }}">Späť na články</a>
        <br>
    {% endif %}

    {% if app.user %}
        <a class="text-green-300" href="{{ path('post_new') }}">Vytvoriť nový</a>
    {% endif %}

    {% for post in posts %}
        <a class="my-2 bg-gray-100 p-2 block relative" href="{{ path('post_show', {id: post.id}) }}">
            <div class="float-left">
                <img class="max-w-full" src="{{ asset('uploads/images/' ~ post.imageFilename) }}" alt="">
            </div>
            <div class="clear-both"></div>
            <div class="font-bold text-xl">
                {{ post.title }}
            </div>
            <div class="">
                {{ post.content[:100] }}
                {% if post.content|length > 100 %}
                    ... Čítať ďalej
                {% endif %}
            </div>
            <div class="text-xs">
                <span class="font-semibold">Autor: </span> {{ post.author.email }}
                <span class="font-semibold">Uverejnené: </span> {{ post.createdAt|date("H:m:s d M Y") }}
            </div>
        </a>
    {% else %}
        <div class="text-center">Žiadne články</div>
    {% endfor %}

    <div class="font-semibold text-center">
        Tag cloud
    </div>

    {{ cloud|raw }}
{% endblock %}
