{% extends 'base.html.twig' %}

{% block title %}Nový článok{% endblock %}

{% block body %}
    <h1 class="text-3xl font-semibold text-center pb-3 pt-2">Nový článok</h1>

    <div class="bg-gray-100 p-2">
        {{ include('post/_form.html.twig') }}
    </div>

    <a class="text-sm italic" href="{{ path('post_index') }}">Všetky články</a>
{% endblock %}
