{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <a class="text-sm" href="{{ path('post_index') }}">Späť na články</a>
    <h1 class="text-3xl font-semibold">{{ post.title }}</h1>

    {% if post.imageFilename %}
        <div class="">
            <img src="{{ asset('uploads/images/' ~ post.imageFilename) }}">
        </div>
    {% endif %}

    {% if post.tags %}
        <div class="font-semibold">Tagy:</div>
        <div class="py-2">
            {% for tag in post.tags %}
                <a href="{{ path('post_tag', {tag: tag}) }}" class="bg-gray-200 px-3 py-1 border border-gray-400 rounded mx-2 text-sm">
                    {{ tag }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="font-semibold">Autor: <span class="font-normal">{{ post.author.email }}</span></div>
    <div class="font-semibold">Uverejnené: <span class="font-normal">{{ post.createdAt|date("H:m:s d M Y") }}</span></div>

    <div class="text-xl font-medium">
        Obsah:
    </div>

    <div class="">
        {{ post.content }}
    </div>

    <a class="text-sm italic" href="{{ path('post_edit', {'id': post.id}) }}">Upraviť</a>


    <div class="w-full bg-gray-100 p-2">
        {{ include('post/_comment_form.html.twig') }}

        <div class="text-center py-3 text-2xl font-bold">
            Komentáre
        </div>

        {% for comment in post.comments %}
            <div class="border-b-2 border-gray-700 p-2">
                <div class="font-semibold">
                    {{ comment.author.email ?? "Anonym" }}
                </div>
                {{ comment.content }}
                <div class="text-xs font-light">
                    {{ comment.createdAt|date("H:m:s d M Y") }}
                </div>
            </div>
        {% else %}
            <div class="text-center">Žiadne komentáre</div>
        {% endfor %}
    </div>
{% endblock %}
